.suggestionsContainer {
  margin-top: 20px;
  text-align: center;

  h2 {
    margin: 60px 0;
  }
}

.sliderWrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.sliderItem {
  width: 100%;
  margin: 0 5px;
}

@media (max-width: 767px) {
  .sliderWrapper {
    display: flex;
    overflow-x: auto;
    gap: 16px;
    scroll-snap-type: x mandatory;
    padding: 0 16px 10px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    scroll-padding: 16px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .sliderItem {
    flex: 0 0 auto;
    width: 250px;
    scroll-snap-align: center;
  }

  .sliderItem:first-child {
    margin-left: calc(320vw - 125px);
  }

  .sliderItem:last-child {
    margin-right: calc(123vw - 125px);
  }
}

@media (min-width: 770px) and (max-width: 1024px) {
  .sliderItem:first-child {
    margin-left: calc(50vw - 125px);
  }

  .sliderItem:last-child {
    margin-right: calc(50vw - 125px);
  }
}
