.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.content {
  width: 100%;
  max-width: 1400px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.title {
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.span {
  font-weight: bold;
  color: #148f77;
  font-size: 50px;
}

.cartItem {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  img {
    width: 100%;
    max-width: 130px;
    height: auto;
    border-radius: 10px;
  }
}

.cartInfo {
  display: flex;
  gap: 40px;
  height: 100px;
  width: 100%;
  max-width: 485px;
}

.cartDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 10px;

  h2 {
    width: 70px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  P {
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }
}

.quantityText {
  width: 50px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.button {
  background-color: #148f77;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;

  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.buttonRemove {
  background-color: #e74c3c;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.totalPrice {
  width: 100%;
  max-width: 1400px;

  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;

  p {
    font-size: 38px;
    font-weight: bold;
    color: #000;
  }
}
