.cart {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1400px;
  justify-content: center;
  text-align: center;
  overflow-x: hidden;
}

.cart__container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}

.cart__content {
  width: 100%;
}

.cart__title {
  font-size: 20px;
  text-align: start;
  padding-left: 10px;
  font-weight: bold;
  color: var(--black-600);
}

.cart__empty {
  font-weight: bold;
  color: var(--green-500);
  font-size: 50px;
}

.cart__item {
  width: 100%;
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.cart__item img {
  width: 100%;
  max-width: 130px;
  height: auto;
  border-radius: 10px;
}

.cart__info {
  display: flex;
  gap: 40px;
  height: 100px;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}

.cart__details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  height: auto;
  align-items: center;
}

.cart__details h2 {
  width: 30%;
  text-overflow: ellipsis;
  white-space: wrap;
}

.cart__price {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-600);
}

.cart__quantity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart__quantity p {
  font-size: 20px;
  font-weight: bold;
  color: var(--black-600);
}

.cart__amount {
  display: flex;
  height: 40px;
  align-items: center;
}

.cart__quantity-text {
  width: 50px;
  padding: 0 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--black-600);
}

.cart__button {
  background-color: var(--green-500);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.cart__button--finish {
  height: 80px;
  width: 150px;
  background-color: var(--green-500);
  color: var(--white);
  border-radius: 8px;
  border: none;
  font-weight: 800;
}

.cart__button--remove {
  background-color: var(--red-500);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.cart__total {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1400px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.cart__total span {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 5px;
}

.cart__total p {
  font-size: 38px;
  font-weight: bold;
  color: var(--black-600);
}

/* Mobile */
@media (max-width: 768px) {
  .cart {
    width: 100%;
    max-width: 1000px;
  }

  .cart__container {
    margin-top: 60px;
  }

  .cart__content {
    padding-bottom: 40px;
    width: 100%;
    margin-top: 33px;
  }

  .cart__item {
    height: 380px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    border: none;
  }

  .cart__item a {
    width: 100%;
  }

  .cart__item img {
    object-fit: fill;
    max-width: 350px;
    height: auto;
  }

  .cart__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart__details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .cart__details h2 {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    font-size: 28px;
    color: var(--green-500);
    font-weight: bold;
    white-space: wrap;
  }

  .cart__details p {
    font-size: 24px;
  }

  .cart__price {
    font-size: 18px;
  }

  .cart__quantity p {
    font-size: 14px;
  }

  .cart__quantity-text {
    width: auto;
  }

  .cart__button {
    padding: 4px 3px;
    width: 34px;
  }

  .cart__total {
    max-width: 380px;
    position: relative;
    bottom: 0;
    display: flex;
    margin-top: 20px;
    flex-direction: row;
    gap: 10px;
  }

  .cart__total span {
    font-size: 20px;
    color: var(--green-500);
    font-weight: bold;
  }

  .cart__total p {
    font-size: 20px;
    color: var(--black-600);
  }

  .cart__button--finish {
    padding: 0;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .cart__item {
    height: 100%;
    min-height: 550px;

    img {
      max-width: 300px;
    }
  }
  .cart__total {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
