.modal {
  position: fixed;
  height: auto;
  border-radius: 8px;
  width: 100%;
  max-width: 150px;
  z-index: 9999;
  background-color: var(--background-color);
  box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -2px 8px 0px rgba(0, 0, 0, 0.75);

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    cursor: pointer;
    list-style: none;
    padding: 10px 6px;

    &:active {
      background-color: var(--green-500);
    }
  }
}

@media (max-width: 768px) {
  .modal {
    right: 4px;
  }
}
