.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 80px;
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.details img {
  width: 100%;
  max-width: 330px;
  height: auto;
  object-fit: contain;
  margin-top: 20px;
}

.detailsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 8px;
  width: 100%;
  max-width: 2000px;
}

.description {
  font-size: 14px;
  max-width: 100%;
  width: 100%;
}

.contentInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.content {
  width: 100%;
  max-width: 600px;
  display: flex;
  gap: 20px;
  justify-content: start;

  button {
    padding: 5px;
    width: 300px;
    background-color: var(--orange-500);
    border: none;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--orange-600);
    }
  }
}

.comments {
  width: 100%;
}

.price,
.available,
.rating {
  display: flex;
  flex-direction: column;
  align-items: start;

  span {
    font-size: 20px;
    font-weight: bold;
    color: var(--orange-500);
  }

  p {
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .details {
    flex-direction: column;
    margin-left: -20px;
  }

  .container {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .description {
    width: 30%;
  }

  .contentInfo {
    flex-direction: column;
    align-items: center;
  }

  .content {
    display: grid;
    width: 100%;
    padding: 5px;
    max-width: 360px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

    button {
      width: 160px;
      margin-top: 0;
    }
  }
  .comments {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
