.slide {
  position: relative;
  width: 100vw;
  height: 780px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  margin-top: 75px;

  &__container {
    opacity: 85%;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1ms ease-in-out;
  }

  &__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
    gap: 10px;
  }

  &__dot {
    width: 20px;
    height: 20px;
    background-color: rgb(197, 185, 185);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;

    &--active {
      background-color: var(--orange-600);
    }
  }

  @media (max-width: 768px) {
    width: 100vw;
    height: 200px;
    margin-top: 135px;

    &__dot {
      width: 8px;
      height: 10px;
    }

    &__container {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  @media (max-width: 1024px) {
    width: 100vw;
    height: 300px;
    margin-top: 135px;
  }
}
