.slider {
  position: relative;
  width: 99vw;
  height: 780px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.imageContainer {
  opacity: 85%;
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1ms ease-in-out;
}

.arrowLeft,
.arrowRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #e55b00;
  font-weight: bold;
  font-size: 70px;
  border: none;
  padding: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.arrowLeft {
  left: 10px;
}

.arrowRight {
  right: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
  gap: 10px;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: rgb(197, 185, 185);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
}

.dot.active {
  background-color: #e55b00;
}

@media (max-width: 768px) {
  .slider {
    width: 100vw;
    height: 200px;
    margin-top: 75px;
  }
  .arrowLeft,
  .arrowRight {
    font-size: 30px;
  }

  .arrowLeft {
    left: -15px;
  }
  .arrowRight {
    right: -15px;
  }

  .dot {
    width: 8px;
    height: 10px;
  }

  .imageContainer {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
