.comments-section {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  &__title {
    font-size: 18px;
    color: var(--orange-600);
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__card {
    display: flex;
    gap: 10px;
  }

  &__details {
    height: auto;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
  }

  &__item {
    display: flex;
    gap: 4px;
    align-items: center;

    span {
      font-size: 12px;
      font-weight: bold;
      color: var(--orange-600);
    }

    p {
      font-size: 12px;
      color: var(--black-700);
    }
  }

  &__divider {
    border: 1px solid var(--orange-600);
    height: 180px;
    margin: 0 10px;
  }
}
