.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

// .productDetailsContainer {
//   display: flex;
//   min-height: 300px;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 200px;
//   padding: 40px;
//   background-color: var(background-color);
//   border-radius: 8px;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
// }

// .suggestionsContainer {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: 200px;
//   padding: 40px;
// }

// @media (max-width: 768px) {
//   .productDetailsContainer {
//     padding: 20px;
//   }

//   .suggestionsContainer {
//     padding: 20px;
//   }
// }
